<html>
  <head>
    <meta charset='utf-8' />
    <title>Mercancía con Problemas en la Recepción</title>
  </head>
  <body>
    <h2>Mercancía con Problemas en la Recepción</h2>

    <p>Señor@s,</p>

    <p>Presentamos mercancía con problemas en la recepción con las siguientes
      características:</p>

    {{#each productos}}
      <div style='margin-bottom: 20px;'>
        <p><strong>Referencia del producto:</strong> {{referencia}}</p>

        <p><strong>Cantidad de la novedad:</strong></p>
        <ul>
          {{#if cantidad_m2}}<li>M2</li>{{/if}}
          {{#if cantidad_cajas}}<li>Cajas</li>{{/if}}
          {{#if cantidad_unidades}}<li>Unidades</li>{{/if}}
        </ul>

        <p><strong>Tipo de novedad:</strong></p>
        <ul>
          {{#if roturas}}<li>Roturas</li>{{/if}}
          {{#if desportillado}}<li>Desportillado</li>{{/if}}
          {{#if golpeado}}<li>Golpeado</li>{{/if}}
          {{#if rayado}}<li>Rayado</li>{{/if}}
          {{#if incompleto}}<li>Incompleto</li>{{/if}}
          {{#if loteado}}<li>Loteado</li>{{/if}}
          {{#if otro}}<li>Otro</li>{{/if}}
        </ul>

        <p><strong>Descripción:</strong> {{descripcion}}</p>
        <p><strong>Acción realizada:</strong> {{accion_realizada}}</p>
      </div>
    {{/each}}

    <p>Se anexa el soporte de la remisión.</p>

    <div style='margin-top: 30px;'>
      <p><strong>Diligenciado por:</strong> {{nombreUsuario}}</p>
      <p><strong>Fecha:</strong> {{fecha}}</p>
    </div>

    <hr />
    <div style='margin-top: 20px;'>
      <img
        src='cid:logo'
        alt='ALFA Y OMEGA ENCHAPES Y ACABADOS S.A.S.'
        style='max-width: 200px;'
      />
    </div>
  </body>
</html>